body {
  background: lightcoral;
}
:root {
  --width-height: min(96vh, 96vw);
}
.board {
  width: var(--width-height);
  height: var(--width-height);
  background-color: #e5e5f7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.square {
  width: calc(var(--width-height) / 8);
  position: relative;
  height: calc(var(--width-height) / 8);
  display: inline-block;
}
.row {
  display: flex;
  width: 100%;
}
.white {
  background: white;
}
.black {
  background: black;
}
.piece {
  filter: brightness(1.3);
  width: 90%;
  height: 90%;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
